@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
    margin: 0;
    padding: 0;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: lightblue;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}


.recipe-page {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
}

.recipe-page img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
}

.container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .row .col-4 {
    font-size: 1.125rem;
    color: #4a4a4a;
    text-align: center;
}

.recipe-page {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.left-column {
    flex-basis: 40%;
    padding-right: 20px;
    text-align: left;
}

.right-column {
    flex-basis: 60%;
}

.recipe-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.recipe-rating {
    margin-bottom: 10px;
}

.recipe-description {
    margin-bottom: 10px;
}

.recipe-ingredients {
    margin-bottom: 10px;
    max-width: 400px;
    text-align: left;
}


.recipe-method {
    margin-bottom: 10px;
}

.grey-space {
    background-color: rgba(128, 128, 128, 0.02);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.1);
    border-style: ridge;
    text-align: left;
}

@media (max-width: 768px) {
    .recipe-page {
        display: flex;
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}

.button-delete {
    margin-right: 10px;
    border-color: #EC6161;
    background-color: antiquewhite;
    color: black;
    border-radius: 20px;
}

.button-edit {
    border-color: #94B9EE;
    background-color: antiquewhite;
    color: black;
    border-radius: 20px;
}

.ingredient-amount {
    display: inline-block;
    margin-left: 10px; /* Измените значение отступа по вашему усмотрению */
}

@media (min-width: 768px) {
    .ingredient-amount {
        margin-left: 40px; /* Увеличьте значение отступа по вашему усмотрению */
    }
}

